body{
    background-color: black;
}
.bgcolor{
    background-color: rgb(194, 192, 192);
    top:50px;
}
.grybg{
    background-color: rgb(194, 192, 192);
}
.icons{
    border:none;
    margin-left: -10px;
}
.disp{
    font-size: 3em;
    width:100%;
    background-color: rgb(194, 192, 192);
    text-align: right;
    border:none;
}
.opbutton{
    background-color: rgb(219, 216, 216);
}
button{
    border:none;
    margin: 2px 2px 2px 2px ;
    width:100%;
    background-color: rgb(250, 250, 250);
    font-size: 2em;
}
button:hover{
    background-color: grey;
}